iframe{
    width:800px;
    height:400px;
    resize: both;
    overflow: auto;
  }

.table-node{
    display:inline-block;
  }

.container-01{
    display: flex;
  }

.container-02{
   display: inline-flex;
  }
.table-node01{
   display:inline-block;
   width: 100%;
  }

.container-02 img{
   height:50%;
   width: 800px;
  }