iframe{
    width:800px;
    height:500px;
    resize: both;
    overflow: auto;
  }

.table-node{
    display:inline-block;
  }

.container-01{
    display: flex;
  }

.container-02{
   display: inline-flex;
  }
.table-node01{
   display:inline-block;
  }

.container-02 img{
   height:50%;
   width: 800px;
  }

.condensation-dij{
  display: inline-block;
}

#table-condensation{
  width: 2000px;
  height: 500px;
} 

#table-convert{
  width: 450px;
  height: 500px;
}

#shortest-path{
  width: 2000px;
  height: 400px;
}